body {
    min-height: 100vh;
    max-width: 100%;
    background: url('../images/bg-top.svg') top -30px right -195px no-repeat;
    background-color: $very-light-grayish-blue;
    @include respond-to('large'){
        background: url('../images/bg-top.svg') top 0px right 0px no-repeat, url('../images/bg-bottom.svg') bottom -30px left 0px no-repeat ;
    background-color: $very-light-grayish-blue; 
    }
}
.root  {
    @include flex-column-center($align-items: center);
    padding: 60px 20px 0px 20px;
    h1 {
      color: $grayish-blue;
      margin-bottom: 40px;
    }
}
.option-slider  {
    @include flex-column-center(row,center);
    gap: 30px;
    margin-bottom: 60px;
    color: $light-grayish-blue;
}
.card  {
    width: 97%;
    max-width: 400px;
    @include flex-column-center();
    @include respond-to('large'){
       display: grid;
       grid-template-columns: repeat(3, minmax(300px, 1fr));
       justify-content: center;
       max-width: 1200px; /* Establece el ancho máximo del grid */
    }
      
}
  